*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,yellow,orange,orange);
}
.nav{
    display: flex;
    position: absolute;
    top: 35px;
    right:300px;
    gap: 60px;
    padding: 5px 70px;
    background-color: rgb(241, 93, 39);
    border-radius: 50px;
    width: max-content;
    justify-content: flex-end;
    box-shadow:0 0 10px black;
}
.nav #search{
    border-radius: 20px;
}
.nav a{
    text-decoration: none;
    color: white;
}
h2{
    margin-top: 10px;
    margin-left: 70px;
    padding: 10px;
    font-size: 30px;
    text-shadow: 3px 0px 2px black;
}
h1{
    margin-top: 200px;
    font-size: 80px;
    margin-left: 80px;
    background: linear-gradient(to left, black, purple);
    width: max-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tutorial{
    font-family: sans-serif;
    color: rgb(251, 248, 248);
    font-weight: 30px;
    text-shadow: 0px 0px 2px  black;
    margin-top: -200px;
    margin-left: 90px;
    background-color: blueviolet;
    width: max-content;
    padding: 0.2em 2em;
    border-radius: 5px;
}
p{
margin-left: 90px;
margin-top: 50px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background:linear-gradient(to top right, rgb(253, 79, 15),red);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 30px;
width: 50%;
}
.header{
    box-shadow: 0 0px 10px black;
    padding: 0.9em;
}
.header{
    position: fixed;
    top: 0;
    background:linear-gradient(to right, yellow,orange,orange) ;
    width: 100%;
}
button{
    margin-left:100px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    cursor:pointer;
    position: relative;
    overflow-x: hidden;
    isolation: isolate;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    border: none;
    box-shadow:0 0 10px black;
}
button::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aqua;
    top: 0;
    transition: 0.5s;
    right: 100%;
    z-index: -1;
}
button:hover::before{
    right: 0%;
}
.card{
    position: absolute;
    right: 180px;
    top: 200px;
    width: 55vh;
    height: 500px;
    background-color: blanchedalmond;
    border-radius: 30px;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out ;
    box-shadow: 0 0 20px black;
}
.front,.back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    backface-visibility: hidden;
}
.front{
    background-image:url(/data/FOT-0037143143.jpg);
    background-size: cover;
    background-position: center;
}
.back{
    transform: rotateY(180deg);
    background-image: url(/data/1f0b0568705ba5138c294828cc90a906.jpg);
    background-size: cover;
    
}
.card:hover{
    transform: rotateY(180deg);
    transition: 1s;
}
.card h2{
    color: white;
    font-size: 50px;
    font-family:fantasy;
    margin-top: 180px;
    margin-left: 30px;
    box-shadow:0 3px 10px black;
    text-shadow: 0 0 15px black;
    width: max-content;
    border-radius: 10px;
    letter-spacing: 2px;
}
.back h2{
    margin-left: 80px;
}
p1{
    position: absolute;
    margin-top: 100px;
    margin-left: 90px;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: orangered;
}